*{
    margin: 0;
    position: 0;
}
h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: red; */
}

.container{
    height: 100vh;
    background-color: rgb(27, 27, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.clock{
    padding: 3rem;
    color: white;
    font-size: 3rem;
}
button{
    padding: 1.25rem;
    width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin: 30px;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(27, 25, 25);
    color: white;
}
@media screen and (max-width:529px){


    .clock {
        flex-direction: column;
        align-items: center;
   
    }
    button {
        
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }

}
